
.manage-specialty-container {

    padding: 0 15px;

    .ms-title {
        text-align: center;
        margin: 10px 0;
        text-transform: uppercase;
    }

    .add-new-specialty{
        input {
            display: block;
            margin-bottom: 10px;
        }
    }

    .btn-add-new-specialty {
        margin-top: 10px;
        text-align: center;
        button {
            padding: 8px 15px;
            outline: none;
            border: none;
            background-color: orange;
            color: white;
        }
    }
}